html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color   */
    
}


/* ---------------- Global Classes ---------------*/

a{
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2.5rem;
}

h2{
    font-family: 'Lexend Deca', sans-serif;
}

h3{
    font-family: 'Abel', sans-serif;
    font-size: 1.3rem;
}



p{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--text-light);
}

/* ------x------- Global Classes -------x-------*/

/* --------------- navbar ----------------- */

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    
}

.nav .nav-menu{    
    justify-content: space-between;
}


.nav .nav-items{
    display: flex;
    margin-top: 0;
    margin-right: 30em;

}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: 'Abel', sans-serif;
    font-size: 1.2rem;
    
}

.nav .nav-items .nav-link  a{
    color: black;
    
}


.nav .nav-items .nav-link:hover{
    background-color: #188ec5;
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: 'MuseoModerno', cursive;
    font-size: 1.7rem;
    color: black;
    

}

.nav .nav-brand span{
    color: #1aa0df;
    font-family: 'MuseoModerno', cursive;
}


.nav .toggle-collapse .toggle-icons{
    z-index: 30;
    color: black;
    position: absolute;
    cursor: pointer;
    right: 25px;
    top: 12px;
    font-size: 30px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

.nav .toggle-collapse .toggle-icons:hover {
    color: #188ec5;
}



/* -------x------- navbar ---------x------- */


.container{
    width: 100%;
    margin: 0px auto;

}

/* --------------- Site title ---------------- */
.site-title{
    
    background: url('../assets/bg7.png') no-repeat;
    background-size: cover;
    
    background-position: center center;
    height: 110vh;
    display: flex;
    justify-content: center;
    transition : 0.5s;
}

.site-title .site-background{
    padding-top: 15rem;
    text-align: left;
    color: #f3f2f2;
    
    position: absolute;
    top: 220px;
    left: 100px;
    width: 450px;
    height: 100px;
    text-align: left;
}

.site-title .site-background h1{
    font-size: 30px;
    font-family: 'Lexend Deca', sans-serif;
    color: #1aa0df;
    margin-bottom: 8px;
    
}

.site-title .site-background p{
    margin-top: 0rem;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    text-align: justify;
    position: absolute;

}





/* --------x------ Site title --------x------- */



/*-------overlay------------*/
.overlay{
    height: 0%; 
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background: url("../assets/bg13.jpg") no-repeat;
    background-size: cover;
    overflow-y: hidden;
    transition: 0.5s;
    z-index: 40;
    
}

.overlay-content{
    position: relative;
    top:25%;
    width:100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
    font-family: 'Abel', sans-serif;
    transition: 0.5s;
    transition-property: background;

}

.overlay a:hover, .overlay a:focus{
    color: #ffffff;
    background: #188ec5;
}

.overlay .closebtn{
    position: absolute;
    top: 20px;
    right:45px;
    font-size:40px;
}







/*-----------------------------main---------------------------*/


/*-----------------------------ENGAGE US-----------------------*/
.section .section0{
    top: 130v;
    height: 120vh;
}



.section0 .card-box {
    position: absolute;
    height: 750px;
    width: 1000px;
    
    left: 250px;
    top: 135vh;
    border-top: solid #2e3338;
    border-width: thick;
    margin-bottom: 30px;
    border-bottom: solid #2e3338;
    border-width: thick;
    margin-right: 10px;

}

.section0 .head{
    position: absolute;
    height: 130px;
    width: 160px;
    border-left: solid #2e3338;
    text-align: left;
    left: 90px;
    bottom: 30px;
    font-family: 'Lexend Deca', sans-serif;

}

.section0 .head .head1{
    position: absolute;
    right: 15px;
    font-size: 30px;
    color: #0e0f0f;
    


}

.section0 .head2{
    position: absolute;
    font-size: 100px;
    right: 14px;
    top: 20px;
    color: #1aa0df;
}

.section0 .subhead{
    position: absolute;
    width: 130px;
    height: 110px;
    font-size: 40px;
    font-family: 'Lexend Deca', sans-serif;
    color: #2e3338;
    left: 90px;
    top: 20px;
    font-style: bold;
    border-bottom: solid #2e3338;
    border-width: 6px;

}

.section0 .content{
    position: absolute;
    width: 330px;
    height: 400px;
    font-size: 16px;
    font-family: 'Lexend Deca', sans-serif;
    text-align: justify;
    color: #0f0f0f;
    left: 90px;
    top: 160px;
    line-height: 1.2rem;
    
}

.section0 .content2{
    position: absolute;
    width: 330px;
    height: 400px;
    font-size: 16px;
    font-family: 'Lexend Deca', sans-serif;
    text-align: justify;
    color: #0f0f0f;
    left: 90px;
    top: 290px;
    line-height: 1.2rem;
    
}

.section0 .content3{
    position: absolute;
    width: 330px;
    height: 400px;
    font-size: 16px;
    font-family: 'Lexend Deca', sans-serif;
    text-align: justify;
    color: gray;
    left: 90px;
    top: 460px;
    line-height: 1.2rem;
    
}

.section0 .service{
    position: absolute;
    width: 500px;
    height: 250px;
    font-family: 'Lexend Deca', sans-serif;
    bottom: 90px;
    right: 0px;

}

.section0 .service .title{
    position: Absolute;
    height: 43px;
    width: 300px;
    font-size: 35px;
    border-bottom: solid thick #2e3338;
    left: 10px;
    color: #2e3338;
    top: 10px;
    
}

.section0 .service .list1{
    position: absolute;
    height: 200px;
    width: 300px;
    left: -30px;
    top: 52px ;
    line-height: 1.7rem;


}

.section0 .service .list1 li{
    margin-top: 5px;
}

.section0 .service .list2{
    position: absolute;
    height: 200px;
    width: 300px;
    right:0px;
    top: 52px;
    line-height: 1.7rem;
}

.section0 .service .list2 li{
    margin-top: 5px;
}

.section0 .service ul::first-line {
    font-size: 20px;
    margin-bottom: 20px;
    
}


.section0 .service a:hover {
    color: #0e0f0f;
}

.section0 .contact{
    position: absolute;
    width: 490px;
    font-family: 'Lexend Deca', sans-serif;
    
    bottom: 40px;
    right: 0px;

}

.section0 .contact-us {
    position: absolute;
    height: 25px;
    width: 128px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 19px;
    bottom: 40px;
    right: 60px;
    border-bottom: solid  rgb(66, 61, 61);

}

.section0 .contact-us a:hover{
    color: black;
    
}






.section0 .thumbnail{
    float: left;
    position: absolute;
    Right: 120px;
    top: 5px;
    height: 370px;
    width: 370px;
    margin: 0;
    overflow: hidden;
}

.section0 img.right {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
}


















.section .section1{
    background: url('../assets/bg12.png') no-repeat;
    background-size: cover;
    background-position: center;
    top: 120vh;
    height: 110vh;
    display: flex;
    justify-content: center;
}

/*------------Section 1-----------------*/

/*--------why us--------------*/


.section1 .transition {
    transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}
  
.why-us .card {
    background-color: #fff;
    height: 550px;
    width: 350px;
    position: absolute;
    margin: auto;
    top: 490vh;
    bottom: 0;
    left: 80px;
    
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    overflow: hidden;

}
  
.why-us .card:hover {
    box-shadow: 0px 30px 30px rgba(0,0,0,0.2);
    height: 600px;
    width: 400px;
}
  
.why-us .card_circle {
    height: 500px;
    width: 500px;
    background-color: black;
    background-size: cover;
    position: absolute;
    border-radius: 50%;
    margin-left: -75px;
    margin-top: -270px;
}
  
.why-us  .card:hover .card_circle {
    border-radius: 0;
    margin-top: -170px;
}

.why-us .head{
    position: absolute;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 35px;
    color: black;
    z-index: 9999;
    bottom: 34vh;
    right: 14vh;
}

.why-us .card:hover .head{
    position: absolute;
    font-size: 60px ;
    color: #ffffff;
    top: 18vh;
    right: 10vh;
}

.why-us .sub1{
    position: absolute;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 25px;
    color: #3f4954;
    z-index: 9999;
    bottom: 30vh;
    right: 14vh;
}

.why-us .card:hover .sub1{
    font-size: 30px;
    right: 17;
}

.why-us .sub2{
    position: absolute;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color:#3f4954;
    z-index: 9999;
    bottom: 10px;
    width: 300px;
    height: 200px;
    text-align: center;
    left: 20px;

}
.why-us .card:hover .sub2{
    left:39px;
    font-size: 15px;
}

.why-us .button{
    position: absolute;
   
    font-size: 20px;
    height: 30px;
    width: 90px;
    z-index: 9999;
    padding: 0.2em ;
    padding-left: 0.4em;
    bottom: 40px;
    left: 120px;
    background-color: #1aa0df;
    border-radius: 20px;
    

}

.why-us .card:hover .button{
    left: 140px;
}

.why-us .button a{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    transition: 0.5s;
    transition-property: color;
}

.why-us .button:hover{

    background-color: #ffffff;
    border-style: solid ;
    border-color: #3f4954;
    
}

.why-us .button:hover a{
    color:#3f4954;
}




/*--------where to---------*/



.where-to .card {
    background-color: #fff;
    height: 550px;
    width: 350px;
    position: absolute;
    margin: auto;
    top: 490vh;
    bottom: 0;
    left: 0px;
    right: 0px;
    
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    overflow: hidden;

}
  
.where-to .card:hover {
    box-shadow: 0px 30px 30px rgba(0,0,0,0.2);
    height: 600px;
    width: 400px;
}
  
.where-to .card_circle {
    height: 500px;
    width: 500px;
    background-color: #680505;
    background-size: cover;
    position: absolute;
    border-radius: 50%;
    margin-left: -75px;
    margin-top: -270px;
}
  
.where-to  .card:hover .card_circle {
    border-radius: 0;
    margin-top: -170px;
}

.where-to .head{
    position: absolute;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 35px;
    color: black;
    z-index: 9999;
    bottom: 34vh;
    right: 11vh;
}

.where-to .card:hover .head{
    position: absolute;
    font-size: 50px ;
    color: #ffffff;
    top: 18vh;
    right: 7vh;
}

.where-to .sub1{
    position: absolute;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 25px;
    color: #3f4954;
    z-index: 9999;
    bottom: 30vh;
    right: 14vh;
}

.where-to .card:hover .sub1{
    font-size: 30px;
    right: 17;
}

.where-to .sub2{
    position: absolute;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color:#3f4954;
    z-index: 9999;
    bottom: 10px;
    width: 300px;
    height: 200px;
    text-align: center;
    left: 20px;

}
.where-to .card:hover .sub2{
    left:39px;
    font-size: 15px;
}

.where-to .button{
    position: absolute;
   
    font-size: 20px;
    height: 30px;
    width: 90px;
    z-index: 9999;
    padding: 0.2em ;
    padding-left: 0.4em;
    bottom: 40px;
    left: 120px;
    background-color: #1aa0df;
    border-radius: 20px;
    

}

.where-to .card:hover .button{
    left: 140px;
}

.where-to .button a{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    transition: 0.5s;
    transition-property: color;
}

.where-to .button:hover{

    background-color: #ffffff;
    border-style: solid ;
    border-color: #3f4954;
    
}

.where-to .button:hover a{
    color:#3f4954;
}





/*--------How to---------*/



.how-to .card {
    background-color: #fff;
    height: 550px;
    width: 350px;
    position: absolute;
    margin: auto;
    top: 490vh;
    bottom: 0;
    right: 80px;
    
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    overflow: hidden;

}
  
.how-to .card:hover {
    box-shadow: 0px 30px 30px rgba(0,0,0,0.2);
    height: 600px;
    width: 400px;
}
  
.how-to .card_circle {
    height: 500px;
    width: 500px;
    background-color: #0c51a0;
    background-size: cover;
    position: absolute;
    border-radius: 50%;
    margin-left: -75px;
    margin-top: -270px;
}
  
.how-to  .card:hover .card_circle {
    border-radius: 0;
    margin-top: -170px;
}

.how-to .head{
    position: absolute;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 35px;
    color: black;
    z-index: 9999;
    bottom: 34vh;
    right: 14vh;
}

.how-to .card:hover .head{
    position: absolute;
    font-size: 60px ;
    color: #ffffff;
    top: 18vh;
    right: 10vh;
}

.how-to .sub1{
    position: absolute;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 25px;
    color: #3f4954;
    z-index: 9999;
    bottom: 30vh;
    right: 14vh;
}

.how-to .card:hover .sub1{
    font-size: 30px;
    right: 17;
}

.how-to .sub2{
    position: absolute;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color:#3f4954;
    z-index: 9999;
    bottom: 10px;
    width: 300px;
    height: 200px;
    text-align: center;
    left: 20px;

}
.how-to .card:hover .sub2{
    left:39px;
    font-size: 15px;
}

.how-to .button{
    position: absolute;
   
    font-size: 20px;
    height: 30px;
    width: 90px;
    z-index: 9999;
    padding: 0.2em ;
    padding-left: 0.4em;
    bottom: 40px;
    left: 120px;
    background-color: #1aa0df;
    border-radius: 20px;
    

}

.how-to .card:hover .button{
    left: 140px;
}

.how-to .button a{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    transition: 0.5s;
    transition-property: color;
}

.how-to .button:hover{

    background-color: #ffffff;
    border-style: solid ;
    border-color: #3f4954;
    
}

.how-to .button:hover a{
    color:#3f4954;
}



/*----------------------------Services----------------------------*/
.section .section2{
    
    height: 100vh;
    background-color: #eeecec;
}

.section .section2 .services {
    position: absolute;
    height: 90vh;
    width: 95%;
    top: 355vh;
    left: 3vh;
    font-family: 'Lexend Deca', sans-serif;

    
}

  
.section2 .head {
    position: absolute;
    font-size: 37px;
    font-family: 'Lexend Deca', sans-serif;
    color: black;
    right: 67vh;
    
}



.section2 .sub{
    position: absolute;
    width: 550px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--text-gray);
    text-align: center;
    color: var(--text-gray);
    top: 60px;
    left: 64vh;
    
    
}

.section2 .box{
    position: absolute;
    width: 300px;
    height: 30px;
    top: 105px;
    left: 82vh ;
    border-bottom: solid #b41010 ;
    border-width: 0.2rem;
}

.section2 .col-left{
    position: absolute;
    width: 490px;
    height: 490px;
    left: 240px;
    top: 180px;
}

.section2 .col-left .s1{
    position: absolute;
    width: 490px;
    height:100px ;
    
}

.section2 .col-left .s1 .title {
    position: absolute;
    right:120px;
    
}

.section2 .col-left .s1 .content{
    position: absolute;
    right: 120px;
    font-size: 14px;
    text-align: right;
    top: 26px;
    color: #25282c;
}

.section2 .col-left .s1 .icon {
    position: absolute;
    height: 90px;
    width: 90px;
    right: 0;
    font-size: 40px;
    background-color: #1397d4;
    
}

.section2 .col-left .s1 i{
    color: #f3f2f2;
    margin: 15px;
    
}

.section2 .col-left .s1 .icon:hover{
    background: #b41010;
}

/*--------------S2----------------*/
.section2 .col-left .s2{
    position: absolute;
    width: 490px;
    height:100px ;
    top: 105px ;
}

.section2 .col-left .s2 .title {
    position: absolute;
    right:120px;
    
}

.section2 .col-left .s2 .content{
    position: absolute;
    right: 120px;
    font-size: 14px;
    text-align: right;
    top: 26px;
    color: #25282c;
}

.section2 .col-left .s2 .icon {
    position: absolute;
    height: 90px;
    width: 90px;
    right: 0;
    font-size: 40px;
    background-color: #1397d4;
}

.section2 .col-left .s2 i{
    color: #f3f2f2;
    margin: 15px;
}

.section2 .col-left .s2 .icon:hover{
    background: #b41010;
}


/*--------------S3----------------*/
.section2 .col-left .s3{
    position: absolute;
    width: 490px;
    height:100px ;
    top: 210px ;
}

.section2 .col-left .s3 .title {
    position: absolute;
    right:120px;
    
}

.section2 .col-left .s3 .content{
    position: absolute;
    right: 120px;
    font-size: 14px;
    text-align: right;
    top: 26px;
    color: #25282c;
}

.section2 .col-left .s3 .icon {
    position: absolute;
    height: 90px;
    width: 90px;
    right: 0;
    font-size: 40px;
    background-color: #1397d4;
}

.section2 .col-left .s3 i{
    color: #f3f2f2;
    margin: 15px;
}

.section2 .col-left .s3 .icon:hover{
    background: #b41010;
}


/*--------------S4----------------*/
.section2 .col-left .s4{
    position: absolute;
    width: 490px;
    height:100px ;
    top: 315px ;
}

.section2 .col-left .s4 .title {
    position: absolute;
    right:120px;
    
}

.section2 .col-left .s4 .content{
    position: absolute;
    right: 120px;
    font-size: 14px;
    text-align: right;
    top: 26px;
    color: #25282c;
}

.section2 .col-left .s4 .icon {
    position: absolute;
    height: 90px;
    width: 90px;
    right: 0;
    font-size: 40px;
    background-color: #1397d4;
}

.section2 .col-left .s4 i{
    color: #f3f2f2;
    margin: 15px;
}

.section2 .col-left .s4 .icon:hover{
    background: #b41010;
}

/*--------------------right - side ----------------*/

.section2 .col-right{
    position: absolute;
    width: 490px;
    height: 490px;
    right: 200px;
    top: 180px;
}

.section2 .col-right .s1{
    position: absolute;
    width: 490px;
    height:100px ;
    
}

.section2 .col-right .s1 .title {
    position: absolute;
    left:120px;
    
}

.section2 .col-right .s1 .content{
    position: absolute;
    left: 120px;
    font-size: 14px;
    text-align: left;
    top: 26px;
    color: #25282c;
}

.section2 .col-right .s1 .icon {
    position: absolute;
    height: 90px;
    width: 90px;
    left: 0;
    font-size: 40px;
    background-color: #1397d4;
}

.section2 .col-right .s1 i{
    color: #f3f2f2;
    margin: 15px;
}

.section2 .col-right .s1 .icon:hover{
    background: #b41010;
}

/*-----------s2-----------*/
.section2 .col-right .s2{
    position: absolute;
    width: 490px;
    height:100px ;
    top: 105px;
    
}

.section2 .col-right .s2 .title {
    position: absolute;
    left:120px;
    
}

.section2 .col-right .s2 .content{
    position: absolute;
    left: 120px;
    font-size: 14px;
    text-align: left;
    top: 26px;
    color: #25282c;
}

.section2 .col-right .s2 .icon {
    position: absolute;
    height: 90px;
    width: 90px;
    left: 0;
    font-size: 40px;
    background-color: #1397d4;
}

.section2 .col-right .s2 i{
    color: #f3f2f2;
    margin: 15px;
}

.section2 .col-right .s2 .icon:hover{
    background: #b41010;
}


/*-----------s3-----------*/
.section2 .col-right .s3{
    position: absolute;
    width: 490px;
    height:100px ;
    top: 210px;
    
}

.section2 .col-right .s3 .title {
    position: absolute;
    left:120px;
    
}

.section2 .col-right .s3 .content{
    position: absolute;
    left: 120px;
    font-size: 14px;
    text-align: left;
    top: 26px;
    color: #25282c;
}

.section2 .col-right .s3 .icon {
    position: absolute;
    height: 90px;
    width: 90px;
    left: 0;
    font-size: 40px;
    background-color: #1397d4;
}

.section2 .col-right .s3 i{
    color: #f3f2f2;
    margin: 15px;
}

.section2 .col-right .s3 .icon:hover{
    background: #b41010;
}

/*-----------s4-----------*/
.section2 .col-right .s4{
    position: absolute;
    width: 490px;
    height:100px ;
    top: 315px;
    
}

.section2 .col-right .s4 .title {
    position: absolute;
    left:120px;
    
}

.section2 .col-right .s4 .content{
    position: absolute;
    left: 120px;
    font-size: 14px;
    text-align: left;
    top: 26px;
    color: #25282c;
}

.section2 .col-right .s4 .icon {
    position: absolute;
    height: 90px;
    width: 90px;
    left: 0;
    font-size: 40px;
    background-color: #1397d4;
}

.section2 .col-right .s4 i{
    color: #f3f2f2;
    margin: 15px;
}

.section2 .col-right .s4 .icon:hover{
    background: #b41010;
}


/*------------------------------Section 3---------------------------*/
.section .section3{
    height: 60vh;
}

.section3 .wrapper{
    position: absolute;
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    font-family: 'Lexend Deca', sans-serif;

    
    left: 70px;
    background-color: #fff;
}

.section3 .section-padding{
    padding: 40px 0;
}

.testimonial-carousel{
    margin: 10% auto 0;
}



.section3 .img-area {
    width: 130px;
    height: 130px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -20px;
}

 .section3 .single-testi{
     
     width: 200px;
     height: 300px;
     margin: 30px;
     background: #fff;
     padding: 15%;
     text-align: center;
     box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.4);
     border-radius: 100px 0 100px 0;
 }

 .section3 .h1{
     margin-top: 15px;
     font-size: 25px;
     
     text-transform: uppercase;

 }

 .section3 .h2{
     margin-top: 3px ;
     color: #1397d4;
 }

 .section3 .rating{
     font-size: 17px;
     margin-top: 5px;
     right: 30px;
     
     height: 35px;
     border-bottom: solid black;

     
 }

 .section3 .content{
    margin-top: 10px;
    font-size: 14px;
 }
 .section3 .quote{
     position: absolute;
     top: 40px;
     font-size: 80px;
     right: 140px;
     color: #1397d4;
 }

 .owl-dots{
     text-align: center;
     
 }

.section3 .owl-dot{
    padding-bottom: 20px;
    
     display: inline-block;
     height: 15px !important;
     width: 15px !important;
     background: #f3f2f2;
     bottom: 30px;
     border-radius: 50%;
     margin: 50px 5px 0;
    
 }  

.section3 .owl-dot.active{
     background-color: #1aa0df !important;
}



/*--------------------------Smaller Screens---------------------------*/


@media screen and (max-heignt: 450px){
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}









